header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  background-color: silver;

  h1 {
    font-size: 3.5rem;
    align-self: center;
    padding: 1%;
  }

  nav {
    display: flex;
    justify-content: center;

    a {
      margin: 1.5%;
      text-decoration: none;
      font-size: 2rem;
      color: black;
    }
  }
}
